# Pastas do Visual Studio e de compilação
.vs/
bin/
obj/

# Arquivos de configurações e metadados
*.user
*.suo
*.pdb
*.pext
*.nupkg
_ReSharper*/
*.DotSettings.user

# Forçar inclusão da pasta manifests
!manifests/